@model IEnumerable<UtilizandoADOProjetoMVC.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de colaboradores</h1>

<p>
    <a asp-action="Criar">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id}) |
                @Html.ActionLink("Detalhe", "Detalhe", new {id=item.Id}) |
                @Html.ActionLink("Deletar", "Deletar", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
